@model IEnumerable<ProyectoIntegradorMvc461.Models.Perfil>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Perfil de Usuario</h2>

<p>
    @*@Html.ActionLink("Crear Nuevo", "Crear")*@
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Crear", "Perfil")'">Crear Nuevo</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_estado)
        </td>
        <td>
            @*@Html.ActionLink("Editar", "Editar", new { id=item.id_perfil }) |
            @Html.ActionLink("Detalle", "Detalle", new { id = item.id_perfil }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id_perfil })*@
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Editar", "Perfil", new { id = item.id_perfil })'">Editar</button>
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Detalle", "Perfil", new { id = item.id_perfil })'">Detalles</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Eliminar", "Perfil", new { id = item.id_perfil })'">Eliminar</button>

        </td>
    </tr>
}

</table>
