@model IEnumerable<ProyectoIntegradorMvc461.Models.Perfil>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.id_perfil }) |
            @Html.ActionLink("Detalle", "Detalle", new { id = item.id_perfil }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id_perfil })
        </td>
    </tr>
}

</table>
