@model ProyectoIntegradorMvc461.Models.Modulo

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Modulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.id_modulo)*@
            <label class="control-label col-md-2">Id</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_modulo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.t_modulo)*@
            <label class="control-label col-md-2">Descripcion</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_modulo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.f_estado)*@
            <label class="control-label col-md-2">Estado</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_estado)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Editar", "Editar", new { id = Model.id_modulo }) |
        @Html.ActionLink("Regresar a la lista", "Index")*@

    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Editar", "Modulo", new { id = Model.id_modulo })'">Editar</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Modulo")'">Regresar a la Lista</button>

</p>
