@model IEnumerable<ProyectoIntegradorMvc461.Models.Modulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Módulos</h2>

<p>
    @*@Html.ActionLink("Crear Nuevo", "Crear")*@
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Crear", "Modulo")'">Crear Nuevo</button>
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.id_modulo)*@
            <label class="control-label col-md-2">Id</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.t_modulo)*@
            <label class="control-label col-md-2">Descripcion</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.f_estado)*@
            <label class="control-label col-md-2">Estado</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_modulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_modulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_estado)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Editar", new { id = item.id_modulo }) |
            @Html.ActionLink("Details", "Detalle", new { id = item.id_modulo }) |
            @Html.ActionLink("Delete", "Eliminar", new { id = item.id_modulo })*@
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Editar", "Modulo", new { id = item.id_modulo})'">Editar</button>
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Detalle", "Modulo", new { id = item.id_modulo})'">Detalles</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Eliminar", "Modulo", new { id = item.id_modulo})'">Eliminar</button>

        </td>
    </tr>
}

</table>
