@model IEnumerable<ProyectoIntegradorMvc461.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Usuarios</h2>

<p>
    @*@Html.ActionLink("Crear Nuevo", "Crear")*@
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Crear", "Usuario")'">Crear Nuevo</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_estado)
        </td>
        <td>
            @*@Html.ActionLink("Editar", "Editar", new { id = item.id_usuario }) |
            @Html.ActionLink("Detalle", "Detalle", new { id = item.id_usuario }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id_usuario })*@

            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Editar", "Usuario", new { id = item.id_usuario})'">Editar</button>
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Detalle", "Usuario", new { id = item.id_usuario})'">Detalles</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Eliminar", "Usuario", new { id = item.id_usuario})'">Eliminar</button>

        </td>
    </tr>
}

</table>
