@model ProyectoIntegradorMvc461.Models.Sistema

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Sistema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_sistema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_sistema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_sistema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_sistema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Retornar a la Lista", "Index")
</p>
