@model ProyectoIntegradorMvc461.Models.Sistema

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Sistema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.id_sistema)*@
            <label class="control-label col-md-2">Id</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_sistema)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.t_sistema)*@
            <label class="control-label col-md-2">Descripcion</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_sistema)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.f_estado)*@
            <label class="control-label col-md-2">Estado</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_estado)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Editar", "Editar", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Retornar a la Lista", "Index")*@

    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Editar", "Sistema", new { id = Model.id_sistema })'">Editar</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Sistema")'">Regresar a la Lista</button>
</p>
