@model ProyectoIntegradorMvc461.Models.Estado_Ticket

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> Items = (List<SelectListItem>)ViewBag.ItemsEstado;
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Estado de Ticket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.id_estado_ticket, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Id</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_estado_ticket, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.id_estado_ticket, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.t_estado_ticket, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Descripcion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.t_estado_ticket, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.t_estado_ticket, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.f_estado, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<label class="control-label col-md-2">Estado</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.f_estado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.f_estado, "", new { @class = "text-danger" })
                </div>*@
            <label class="control-label col-md-2">Estado</label>
            <div class="col-md-10">
                @*fee_earner*@
                @Html.DropDownListFor(model => model.f_estado, new SelectList(Items, "Value", "Text"),
                "Select", new { @class = "form-control", onchange = "selected()", id = "cbo_estado" })
                @Html.ValidationMessageFor(model => model.f_estado, "", new { @class = "text-danger" })
                <span asp-validation-for="cbo_estado" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Regresar a la Lista", "Index")*@
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Estado_Ticket")'">Regresar a la Lista</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
